<div class="p-relative">
  <span class="col-5 m-4">
    <input
    placeholder="Filter text"
    [(ngModel)]="searchText"
    type="text"
    class="btn title-search"
  />
  </span>

  <div style="margin-right: 8px;margin-top: 30px;">
    <div class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [scrollWindow]="false"
    [infiniteScrollThrottle]="0"
    (scrolled)="loadMore()">

      <div class="card-contener mt-3" *ngIf="( this.listData | filter : searchText) as listData">
        <div class="card" *ngFor="let item of listData ">
          <div class="card-body px-0">
            <h4 class="card-title">{{ item["title"] }}</h4>
            <p class="card-text">{{ item["description_EN"] }}</p>
          </div>

        </div>
        <p *ngIf="listData.length===0">No Result</p>

      </div>



    </div>
  </div>
